<H1> will show the details for a given actor.
  This page should contain a list of movies that the actor has starred in and what their role was.
  Each movie should link to the details page for that movie. </h1>
