<h1><%= actor[0]["name"] %></h1>
<a href="/actors">Back to All Actors</a>
<table>
  <thead>
    <tr>
      <td>Movie</td>
      <td>Role</td>
    </tr>
  </thead>
    <% actor.each do |role| %>
    <tr>
      <td><a href="/movies/<%= role["id"] %>"><%= role["title"] %></a></td>
      <td><%= role["character"] %></td>
    <% end %>
    </tr>
  </thead>
</table>
