<h1><%= actor[0]["name"] %></h1>
<table>
  <thead>
    <tr>
      <td>Movie</td>
      <td>Role</td>
    </tr>
    <% actor.each do |role| %>
    <tr>
          <td><a href="/movies/<%= role["id"] %>"><%= role["title"] %></a></td>
          <td><%= role["character"] %></td>
      <% end %>
    </tr>
  </thead>
</table>
