<h1> will show the details for the movie. This page should contain information about the movie
  (including genre and studio) as well as a list of all of the actors and their roles.
  Each actor name is a link to the details page for that actor. </h1>
